body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f3f3f3;
}

h1, h2, h3 {
  letter-spacing: .0125em;
}

a {
  text-decoration: none;
}

#container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.hp-background {
  background-image: url(../images/hp-img.png);
  background-size: cover;
  background-position: center;
  height: 45em;
}

.hp-content {
  width: 40em;
  margin: 0 auto;
  text-align: center;
}

.hp-content a, h1, p {
  color: #ffffff;
}

.hp-content h1 {
  font-size: 2.5em;
}

.hp-col {
  width: 50%;
  float: left;
}

.hp-col h2 {
  padding: 3em;
}

.hp-col img {
  width: 100%;
  object-fit: cover;
}

header {
  position: relative;
  width: 100%;
  height: 5em;
  background-color: #555555;
  color: #ffffff;
}

header a {
  color: #ffffff;
}

.logo {
  float: left;
  padding-left: 1em;
}

.logo h2 {
  margin: 1em;
}

nav {
  float: right;
  padding: 1em;
}

nav ul {
  padding: 0;
  margin: 1em;
}

nav li {
  float: left;
  list-style-type: none;
  padding-left: 1em;
}

.content {
  width: 65em;
  margin: 0 auto;
  padding-top: 2em;
}

/*.content h1 {
  color: #333333;
}*/

.events {
  width: 40%;
  float: left;
  border: 1px solid #cccccc;
  background-color: #f9f9f9;
  padding: 1.25em;
  margin: 1.75em;
}

.events > p {
  margin: .25em;
  color: #333333;
}

.event-list {
  list-style-type: none;
  padding: 0;
}

.searchresults {
  width: 100%;
  clear:both;
  margin-top: 1em;
}

@media only screen and (max-width : 30em) {
  .content, .hp-content {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .hp-content p {
    padding: 0 3em;
  }

  .hp-col {
    width: 100%;
    float: none;
  }

  .events {
    float: none;
    width: 80%;
    margin: 1em 0;
  }
}
