body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f3f3f3;
}

h1, h2, h3, p {
  font-weight: normal;
  letter-spacing: .0125em;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.25em;
}

#container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.hp-background {
  background-image: url(../images/hp-img.png);
  background-size: cover;
  background-position: center;
  height: 50em;
}

.hp-content {
  width: 45em;
  margin: 0 auto;
  text-align: center;
}

.hp-content a, h1, p {
  color: #ffffff;
}

.hp-content h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  letter-spacing: .05em;
  font-size: 3em;
}

.hp-content-area {
  width: 68em;
  margin: 0 auto;
}

.hp-col {
  width: 50%;
  float: left;
  margin-top: -.5em;
}

.hp-col h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 1.75em;
  color: #222327;
  margin: 2.875em;
  vertical-align: middle;
}

.red {
  background-color: #a34453;
}


h2.red-text {
  color: #451721;
}

.blue-text {
  color: #333f49
}

.green {
  background-color: #3e8d3c;
}

h2.green-text {
  color: #132103;
}

.hp-col img {
  width: 100%;
  object-fit: cover;
  padding: 0;
  margin: 0;
}

header {
  position: relative;
  width: 100%;
  height: 5em;
  color: #ffffff;
  background-color: #333f49;
  border-bottom: 1px solid #222327;
}

header a {
  color: #ffffff;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  float: left;
  padding-left: 1em;
}

.logo h2 {
  margin: 1em;
}

nav {
  float: right;
  padding: 1em;
}

nav ul {
  padding: 0;
  margin: 1em;
}

nav li {
  float: left;
  list-style-type: none;
  padding-left: 1em;
}

.dashboard-bg {
  background-image: url(../images/dashboard-bg.png);
  background-size: cover;
  background-position: center;
  height: 20em;
  margin-bottom: 1em;
  border-bottom: 1px solid black;
}

.content {
  width: 65em;
  margin: 0 auto;
  padding-top: 2em;
  clear: both;
}

/*.content h1 {
  color: #333333;
}*/

.events {
  width: 40%;
  float: left;
  border: 1px solid #cccccc;
  background-color: #f9f9f9;
  padding: 1.25em;
  margin: 1.75em;
}

.events > p {
  margin: .25em;
  color: #333333;
}

.events > h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  line-height: 1.25em;
  background-color: #a34453;
  color: white;
  padding: .5em;
  margin: 0;
}

.event-list {
  list-style-type: none;
  padding: 0;
}

.attendees {
  border-top: 1px solid #333f49;
}

.select-cat {
  margin: 0 .75em;
}

.search-events {
  clear: both;
  width: 100%;
  border-top: 1px solid #333f49;
}

.search-events h2 {
  color: #333f49;
  text-align: center;
}

.search-content {
  width: 65em;
  margin: 0 auto;
  clear: both;
}

.search {
  text-align: center;
}

.searchresults {
  width: 100%;
  clear:both;
  margin-top: 1em;
}

footer {
  border-top: 1px solid black;
  position: relative;
  width: 100%;
  height: 8em;
  bottom: -8em;
  left: 0;
  /*margin-bottom: -18em;*/
  background-color: #333f49;
  border-top: 1px solid #222327;
  clear: both;
}

footer p {
  padding: 1em;
  font-size: .9875em;
  letter-spacing: .05em;
  color: #627e96;
}

@media only screen and (max-width : 30em) {
  .content, .hp-content, .hp-content-area  {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .hp-background  {
    height: 100%;
  }

  .hp-content p {
    padding: 0 3em;
  }

  .hp-col {
    width: 100%;
    float: none;
  }

  .hp-col h2 {
    font-size: 1.75em;
    padding: 1.5em;
    margin: 0;
  }


  .events {
    float: none;
    width: 80%;
    margin: 1em 0;
  }

  footer {
    width: 100%;
    text-align: center;
    vertical-align: middle;
  }

}
